<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <div>
          <div class="login-main">
            <div>
              <a class="logo" routerLink="/">
                <img
                  class="img-fluid for-light"
                  src="https://img.freepik.com/premium-vector/real-estate-logo-design_260747-324.jpg?w=200"
                  alt="looginpage"
                />
              </a>
            </div>
            <form class="theme-form" [formGroup]="registerForm">
              <h4>Register Page</h4>
              <p>
                Enter your personal details to create an account and start
                exploring
              </p>
              <div class="form-group">
                <label class="col-form-label pt-0"
                  >First Name and Last Name</label
                >
                <div class="form-row">
                  <div class="col-6">
                    <input
                      class="form-control"
                      formControlName="firstName"
                      type="text"
                      required=""
                      placeholder="First Name"
                      required
                    />
                  </div>

                  <div class="col-6">
                    <input
                      class="form-control"
                      formControlName="lastName"
                      type="text"
                      required=""
                      placeholder="Last Name"
                      required
                    />
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls.firstName.touched &&
                      registerForm.controls.firstName.errors?.required
                    "
                    class="text text-danger mt-1"
                  >
                    First name is required.
                  </div>
                  <br />
                  <div
                    *ngIf="
                      registerForm.controls.lastName.touched &&
                      registerForm.controls.lastName.errors?.required
                    "
                    class="text text-danger mt-1"
                  >
                    Last name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">E-mail </label>
                <input
                  class="form-control"
                  formControlName="email"
                  type="email"
                  required=""
                  placeholder="E-mail"
                />
                <div
                  *ngIf="
                    registerForm.controls.email.touched &&
                    registerForm.controls.email.errors?.required
                  "
                  class="text text-danger mt-1"
                >
                  Email is required.
                </div>
                <div
                  *ngIf="
                    registerForm.controls.email.touched &&
                    registerForm.controls.email.errors?.email
                  "
                  class="text text-danger mt-1"
                >
                  Please enter a valid email address.
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label pt-0">Phone Number</label>
                <div class="form-row">
                  <div class="col">
                    <input
                      class="form-control"
                      id="areaCode"
                      formControlName="phoneNumber"
                      type="text"
                      required=""
                      placeholder="5**"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Password</label>
                <input
                  class="form-control"
                  formControlName="password"
                  [type]="show1 ? 'text' : 'password'"
                  name="login[password]"
                  required=""
                  placeholder="Password"
                />
                <div class="show-hide" (click)="showPassword1()" *ngIf="!show1">
                  <span class="show"></span>
                </div>
                <div class="show-hide" (click)="showPassword1()" *ngIf="show1">
                  <span class="Hide"></span>
                </div>
                <div
                  *ngIf="
                    registerForm.controls.password.touched &&
                    registerForm.controls.password.errors?.required
                  "
                  class="text text-danger mt-1"
                >
                  Password is required.
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Confirm Password</label>
                <input
                  class="form-control"
                  formControlName="confirmPassword"
                  [type]="show2 ? 'text' : 'password'"
                  name="login[password]"
                  required=""
                  placeholder="Confirm Password"
                />
                <div class="show-hide" (click)="showPassword2()" *ngIf="!show2">
                  <span class="show"></span>
                </div>
                <div class="show-hide" (click)="showPassword2()" *ngIf="show2">
                  <span class="Hide"></span>
                </div>
                <div
                  *ngIf="
                    registerForm.controls.repassword.touched &&
                    registerForm.controls.repassword.errors?.confirmedValidator
                  "
                  class="text text-danger mt-1"
                >
                  Passwords do not match.
                </div>
              </div>

              <div class="form-group mb-0">
                <button
                  (click)="register()"
                  class="btn btn-primary btn-block"
                  type="button"
                  [disabled]="this.registerForm.invalid"
                >
                  Create Account
                </button>
              </div>
              <!-- <h6 class="text-muted mt-4 or">Ya da</h6>
                <div class="social mt-4">
                  <div class="btn-showcase" style="display: flex;flex-direction: column;justify-content: center;">
                    <a class="btn btn-light" style="margin-left:5px;" href="https://www.linkedin.com/login" target="_blank">
                        <app-feather-icons [icon]="'linkedin'" class="txt-linkedin"></app-feather-icons>Linkedin hesabınız ile kaydolun.
                       </a>
                    <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                     <app-feather-icons [icon]="'twitter'" class="txt-twitter"></app-feather-icons>Twitter hesabınız ile kaydolun.
                    </a>
                    <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                      <app-feather-icons [icon]="'facebook'" class="txt-fb"></app-feather-icons>Facebook hesabınız ile kaydolun.
                    </a>
                  </div>
                </div> -->
              <p class="mt-4 mb-0">
                If you are have an account already,
                <a class="ml-2" [routerLink]="'/auth/login'">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
