.page {
  width: 90vw;
  display: grid;
  align-items: center;
}
.card {
  width: 100%;
}

agm-map {
  height: 600px;
}

.myCard {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black !important;
}
